<!DOCTYPE html>
<html>

<head>
    <title>Lidetect</title>

    <meta charset="UTF-8">
    <meta name="description" content="Lidetect">
    <meta name="author" content="Anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <script src="app.js" defer></script>

    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/effra-heavy" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/effra" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/effra-heavy?styles=16538" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/2.1.0/json2html.min.js"></script>

    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
        crossorigin="anonymous"
    ></script>

    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
</head>

<body>
    <div id="holder"></div>
      <div class="container">
            <div class="chat-header">
                <div class="title"> <h1> LIDETECT </h1> </div>
            </div>
            {% if game_over %}
                <div>
                    {% if guessed_correctly %}
                        <h1 style="color: var(--light-color);">Great job, you guessed correctly!</h1>
                    {% else %}
                        <h1 style="color: var(--light-color);">Oops, you guessed incorrectly! Better luck next time!</h1>
                    {% endif %}
                </div>
            {% else %}
                <div class="chat-body"></div>
                <div class="chat-input">
                    <div class="input-sec">
                        <input type="text" id="txtInput" placeholder="Type here (Click ENTER or SEND)" autofocus />
                    </div>
                    <div class="send">SEND</div>
                </div>
                <form align="center" method="post" class="buttons final-guess-form" style="display: none;"> 
                    <p style="color: var(--light-color);">Who did you talk to?</p>
                    <button style="font-size: 1.5em;padding: 20px;border-radius: 10px;background-color: #00c56c;color: white;font-weight: bold;margin: 10px;cursor: pointer;transition: all 0.3s ease-in-out" type="submit" name="human" class="create-btn">Human</button>   
                    <button style="font-size: 1.5em;padding: 20px;border-radius: 10px;background-color: #00c56c;color: white;font-weight: bold;margin: 10px;cursor: pointer;transition: all 0.3s ease-in-out" type="submit" name="robot" class="create-btn">Robot</button>                
                </form>
                <p style="display: none" id="name">{{name}}</p>
            {% endif %}
      </div>
    </div>
</body>

</html>
